@font-face {
  font-family: GothamBlackRegular;
  src: url(../font/Gotham_Black_Regular.ttf);
}

@font-face {
  font-family: GothamMediumRegular;
  src: url(../font/Gotham_Medium_Regular.ttf);
}

@font-face {
  font-family: GothamBookRegular;
  src: url(../font/GothamBook.ttf);
}

@font-face {
  font-family: GothamBold;
  src: url(../font/GothamBold.ttf);
}

.overflow--hidden {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.page--title {
  font-family: GothamMediumRegular;
  font-size: 55px;
  color: #005F84;
  white-space: pre-line;
}

.page--title span {
  font-family: GothamBlackRegular;
}

.page--title__line {
  border-top: 7px solid #71C9F0;
  max-width: 100px;
  margin-left: 0;
  margin-top: 0;
}

.text--content {
  font-family: GothamMediumRegular;
  font-size: 16px;
  white-space: pre-line;
}

.white--line {
  border-top: 3px solid #ffffff;
}

@media only screen and (min-width: 1800px) {
  .container--max {
    max-width: 1655px;
  }
  .container--medium {
    max-width: 1540px;
  }
  .page--title {
    font-size: 75px;
  }
  .page--title__line {
    border-top: 10px solid #71C9F0;
    max-width: 135px;
  }
  .text--content {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .page--title {
    font-size: 35px;
    margin-top: 30px;
  }
  .text--content {
    font-size: 14px;
  }
}

body {
  overflow-x: hidden;
}

.header__menu {
  width: 100%;
  background-color: #ffffff !important;
  padding-bottom: 0;
}

.header__menu .navbar-brand {
  padding-bottom: 0;
}

.header__menu .navbar-brand img {
  max-height: 70px;
  margin-bottom: 23px;
}

.header__menu .navbar-nav {
  margin-top: 30px;
}

.header__menu .navbar-nav li .nav-link {
  color: #005F89 !important;
  font-size: 16px;
  font-family: GothamMediumRegular;
  text-transform: uppercase;
  padding: 15px 35px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.mobile--menu__main__img {
  max-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile--menu__main__toggler {
  float: right;
  margin-top: 18px;
}

.mobile--menu__main__toggler i {
  font-size: 25px;
  cursor: pointer;
  color: #005F84;
}

.mobile--menu__left {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  top: 0;
  visibility: hidden;
  transition: visibility 2s  ease;
  -webkit-transition: visibility 2s  ease;
}

.mobile--menu__left__main {
  background: #ffffff;
  max-width: 70%;
  height: 100%;
  position: relative;
  z-index: 2;
  overflow: auto;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transition: transform  2s ease;
  -webkit-transition: transform  2s ease;
}

.mobile--menu__left__main__menu {
  padding-top: 65px;
  padding-left: 30px;
}

.mobile--menu__left__main__menu__img {
  width: 50%;
  max-width: 100%;
  margin-bottom: 30px;
}

.mobile--menu__left__main__menu__navbar {
  list-style-type: none;
  padding: 0;
}

.mobile--menu__left__main__menu__navbar__item__link {
  color: #474747;
  font-size: 16px;
  line-height: 25px;
  padding: 13px 20px;
  display: inline-block;
  font-family: GothamMediumRegular;
}

.mobile--menu__left__main__menu__navbar__item__link.active {
  color: #8CB044;
}

.mobile--menu__left__main__menu__navbar__item__link:hover {
  color: #8CB044;
  text-decoration: none;
}

.mobile--menu__left__main__hide {
  position: absolute;
  right: 20px;
  top: 20px;
}

.mobile--menu__left__main__hide i {
  font-size: 25px;
  cursor: pointer;
  color: #005F84;
}

.mobile--menu__left__overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 2s ease;
  -webkit-transition: opacity 2s ease;
}

.mobile--menu__left__show {
  visibility: visible;
}

.mobile--menu__left__show__main.show--menu {
  transform: translate3d(0%, 0, 0);
  -webkit-transform: translate3d(0%, 0, 0);
  transition: transform  2s ease;
  -webkit-transition: transform  2s ease;
}

.mobile--menu__left__show__overlay.show--menu {
  opacity: 1;
  transition: opacity 2s ease;
  -webkit-transition: opacity 2s ease;
}

.mobile--menu__left.hide--menu {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .header__menu .navbar-collapse {
    height: 100%;
    align-items: flex-end;
  }
  .header__menu .navbar-collapse .navbar-nav li:first-child .nav-link {
    border-left: 1px solid #e5e5e5;
  }
  .header__menu .navbar-collapse .navbar-nav li:last-child .nav-link {
    border-right: none;
  }
  .header__menu .navbar-collapse .navbar-nav li .nav-link {
    border-right: 1px solid #e5e5e5;
    position: relative;
  }
  .header__menu .navbar-collapse .navbar-nav li .nav-link:hover::after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 80%;
    border-bottom: 5px solid #71C9F0;
    left: 10%;
  }
  .header__menu .navbar-collapse .navbar-nav li .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 80%;
    border-bottom: 5px solid #71C9F0;
    left: 10%;
  }
  .mobile--menu {
    display: none;
  }
}

@media only screen and (min-width: 1800px) {
  .header__menu .navbar-brand img {
    max-height: 100px;
  }
  .header__menu .navbar-collapse {
    height: 100%;
    align-items: flex-end;
  }
  .header__menu .navbar-collapse .navbar-nav li .nav-link {
    font-size: 21px;
    padding-bottom: 23px;
  }
  .header__menu .navbar-collapse .navbar-nav .nav-link {
    min-width: 250px;
    text-align: center;
  }
  .header__menu .navbar-collapse .navbar-nav .nav-link:hover::after {
    border-bottom: 9px solid #71C9F0 !important;
    max-width: 175px !important;
    left: 14% !important;
  }
  .header__menu .navbar-collapse .navbar-nav .nav-link.active::after {
    border-bottom: 9px solid #71C9F0 !important;
    max-width: 175px !important;
    left: 14% !important;
  }
}

@media only screen and (max-width: 1199px) {
  .header__menu .navbar-nav li .nav-link {
    font-size: 14px;
    padding: 15px;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

@media only screen and (max-width: 991px) {
  .header__menu .navbar-brand img {
    max-height: 50px;
  }
  .header__menu .navbar-nav li .nav-link {
    font-size: 13px;
    padding: 15px;
    padding-left: 9px !important;
    padding-right: 9px !important;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .header__menu {
    width: 100%;
  }
  .mobile--menu {
    display: block;
  }
}

@media only screen and (max-width: 425px) {
  .mobile--menu__left__main {
    max-width: 80%;
  }
}

.footer {
  margin-top: 50px;
}

.footer__left__title {
  color: #005F84;
  font-family: GothamBold;
  font-size: 44px;
  line-height: 1;
}

.footer__left__text {
  color: #545457;
  font-size: 16px;
  font-family: GothamBookRegular;
}

.footer__left__form {
  position: relative;
  width: 80%;
}

.footer__left__form__input {
  border-radius: 32px;
  box-shadow: inset -1px 3px 12px 0px rgba(46, 61, 73, 0.2) !important;
  padding: 7px 15px 7px 30px;
  border: 1px solid #ABABAB;
  width: 100%;
  font-family: GothamBookRegular;
}

.footer__left__form__input:focus {
  outline: none;
}

.footer__left__form__submit {
  background: #005F84;
  border-radius: 32px;
  padding: 8px 27px;
  border: none;
  color: #ffffff;
  font-family: GothamBold;
  position: absolute;
  right: 0;
}

.footer__left__form__submit:hover {
  background: #8CB044;
}

.footer__center__menu ul {
  list-style-type: none;
}

.footer__center__menu ul li {
  line-height: 1;
  margin-bottom: 20px;
}

.footer__center__menu ul li a {
  color: #545457;
  font-size: 16px;
}

.footer__center__menu ul li a:hover {
  text-decoration: none;
  color: #8CB044;
}

.footer__right__social--icon {
  text-align: right;
}

.footer__right__social--icon a {
  font-size: 20px;
  color: #005A7D;
  margin-right: 30px;
}

.footer__right__social--icon a:hover {
  color: #8CB044;
}

.footer__right__social--icon a:last-child {
  margin-right: 0px;
}

.footer__copyright {
  border-top: 1px solid #e5e5e5;
  margin-top: 70px;
  padding-top: 10px;
}

.footer__copyright__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__copyright__menu li {
  display: inline-block;
  margin-right: 10px;
}

.footer__copyright__menu li a {
  color: #545457;
  font-size: 16px;
  font-family: GothamBookRegular;
}

.footer__copyright__text {
  color: #545457;
  font-size: 16px;
  font-family: GothamBookRegular;
  text-align: right;
}

.footer__logo {
  border: 1px solid #C7C7C7;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-bottom: 30px;
}

.footer__logo__col {
  text-align: center;
}

.footer__logo__col::after {
  content: '';
  border-right: 1px solid #8CB044;
  position: absolute;
  right: 0;
  height: 35px;
  top: 32%;
}

.footer__logo__col__link img {
  max-height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__logo__col:last-child::after {
  border-right: none;
}

@media only screen and (min-width: 1800px) {
  .footer__left__title {
    font-size: 64px;
  }
  .footer__left__text {
    font-size: 20px;
  }
  .footer__left__form {
    width: fit-content;
  }
  .footer__left__form__input {
    width: 490px;
    padding: 14px 15px 16px 60px;
    font-size: 22px;
  }
  .footer__left__form__submit {
    font-size: 26px;
    padding: 13px 45px;
  }
  .footer__center__menu ul li a {
    font-size: 20px;
  }
  .footer__logo {
    border: 1px solid #C7C7C7;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 30px;
  }
  .footer__logo__col::after {
    border-right: 2px solid #8CB044;
    height: 49px;
  }
  .footer__logo__col__link img {
    max-height: 87px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .footer__copyright {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__left__title {
    font-size: 24px;
  }
  .footer__left__form {
    width: 100%;
  }
  .footer__center__menu {
    padding: 0;
    margin-top: 30px;
  }
  .footer__center__menu ul {
    padding: 0;
  }
  .footer__right__social--icon {
    text-align: left;
  }
  .footer__copyright__text {
    text-align: center;
  }
  .footer__logo__col::after {
    border-right: none;
  }
}

.banner .carousel-caption {
  top: 15%;
  text-align: left;
  right: 0;
  left: 0;
}

.banner__text {
  background: rgba(80, 188, 229, 0.82);
  width: fit-content;
  padding: 25px 10px 30px 50px;
}

.banner__text::before {
  content: '';
  border-left: 10px solid #005F89;
  height: 80px;
  position: absolute;
  left: 15px;
  top: 25px;
}

.banner__text h5 {
  font-family: GothamBold;
  font-size: 50px;
}

.banner__text p {
  font-family: GothamMediumRegular;
  font-size: 18px;
  margin-top: 30px;
}

.banner__link a {
  display: inline-block;
  padding: 10px 30px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  font-size: 15px;
  font-family: GothamBold;
  text-transform: uppercase;
  margin-top: 40px;
  transition: 1s;
  -webkit-transition: 1s;
  min-width: 40%;
  text-align: center;
}

.banner__link a:nth-child(2) {
  margin-left: 15px;
}

.banner__link a:hover {
  background: #005A80;
  border-color: #005A80;
  text-decoration: none;
}

.banner .carousel-control-prev {
  right: 150px;
  left: auto;
  bottom: 30px;
  z-index: 999;
  color: #fff;
  z-index: 10;
  background-color: #91B544;
  border: 1px solid #91B544;
  height: fit-content;
  width: fit-content;
  top: auto;
  opacity: 1;
  padding: 15px 15px;
  min-height: 48px;
  min-width: 48px;
}

.banner .carousel-control-prev svg {
  transform: rotate(90deg);
}

.banner .carousel-control-prev:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  transition: 1s;
  -webkit-transition: 1s;
}

.banner .carousel-control-next {
  right: 80px;
  left: auto;
  bottom: 30px;
  z-index: 999;
  color: #fff;
  z-index: 10;
  background-color: #91B544;
  border: 1px solid #91B544;
  height: fit-content;
  width: fit-content;
  top: auto;
  opacity: 1;
  padding: 15px 15px;
  min-height: 48px;
  min-width: 48px;
}

.banner .carousel-control-next svg {
  transform: rotate(-90deg);
}

.banner .carousel-control-next:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  transition: 1s;
  -webkit-transition: 1s;
}

.banner__img {
  max-height: 900px;
  object-fit: cover;
}

.slide-3 .banner__text {
  background: rgba(1, 107, 50, 0.82);
}

.slide-3 .banner__text::before {
  border-color: #91B544;
}

.slide-3 .banner__link a:hover {
  background: #91B544;
  border-color: #91B544;
}

.slide-1 .banner__text {
  background: rgba(0, 83, 129, 0.82);
}

.slide-1 .banner__text::before {
  border-color: #50BCE5;
}

.slide-1 .banner__link a:hover {
  background: #50BCE5;
  border-color: #50BCE5;
}

.slide-2 .banner__text {
  background: rgba(103, 165, 99, 0.82);
}

.slide-2 .banner__text::before {
  border-color: #009345;
}

.slide-2 .banner__link a:hover {
  background: #009345;
  border-color: #009345;
}

.home--about {
  position: relative;
  background-image: url("../img/About Tahweel background.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.home--about__content {
  padding-top: 120px;
  padding-bottom: 120px;
}

.home--about__content::before {
  content: '';
  border-top: 5px solid #005F89;
  margin-left: 47px;
  width: 100%;
  position: absolute;
  left: 50px;
  max-width: 100px;
  margin-left: 0;
  top: 60px;
}

.home--about__content::after {
  content: '';
  background-image: url("../img/lines/Group 241.png");
  position: absolute;
  width: 150px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
  right: 50px;
  bottom: 0px;
}

.home--about__content__img {
  position: relative;
}

.home--about__content__img img {
  max-width: 100%;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.home--about__content__img::after {
  content: '';
  background-image: url("../img/About Tahweel background dots.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  right: -33px;
  bottom: 29px;
  z-index: -1;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.home--about__content__text {
  font-family: GothamMediumRegular;
  font-size: 16px;
  padding-left: 30px;
}

.home--about__content__text__title {
  font-family: GothamMediumRegular;
  font-size: 55px;
}

.home--about__content__text__title span {
  font-family: GothamBlackRegular;
}

.home--about__content__text__line {
  width: 100%;
  border-top: 7px solid #8CB044;
  max-width: 100px;
  margin-left: 0;
  margin-top: 0;
}

.home--about__content__text__text {
  font-family: GothamMediumRegular;
  font-size: 16px;
  padding-left: 30px;
}

.home--about__content__text__link {
  font-family: GothamMediumRegular;
  color: #8CB044;
  padding-left: 30px;
  font-size: 18px;
}

.home--about__content__text__link:hover {
  color: #005A80;
  text-decoration: none;
}

.home--why {
  background-color: #edf8fc;
  padding-top: 40px;
  padding-bottom: 100px;
  position: relative;
}

.home--why::before {
  content: '';
  background-image: url("../img/lines/Group 40.png");
  position: absolute;
  width: 150px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 50px;
  bottom: 110px;
}

.home--why::after {
  content: '';
  border-top: 5px solid #50BCE5;
  margin-left: 47px;
  width: 100%;
  position: absolute;
  right: 50px;
  bottom: 60px;
  max-width: 100px;
  margin-left: 0;
}

.home--why__title {
  font-family: GothamMediumRegular;
  font-size: 55px;
}

.home--why__title span {
  font-family: GothamBlackRegular;
}

.home--why__line {
  width: 100%;
  border-top: 7px solid #71CEF5;
  max-width: 100px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

.home--why__tab {
  display: flex;
  flex-wrap: wrap;
  border-bottom: none;
}

.home--why__tab > li {
  width: 50%;
}

.home--why__tab__nav--link {
  background-color: transparent !important;
  border: none !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

.home--why__tab__nav--link.active .why__arrow {
  background-color: rgba(145, 181, 68, 0.89);
  border: 1px solid #91B544;
  transition: 1s;
  -webkit-transition: 1s;
}

.home--why__tab__nav--link.active .why__arrow svg {
  transform: rotate(180deg);
  transition: 1s;
  -webkit-transition: 1s;
}

.home--why__tab__nav--link.active .link__active h2 {
  width: 50%;
  height: 32%;
  padding-top: 0;
  margin-top: 40px;
  padding-right: 30px;
  padding-bottom: 10px;
  min-width: fit-content;
  min-height: fit-content;
}

.home--why__tab__nav--link.active .link__active h2::before {
  content: '';
  border-left: 10px solid #91B544;
  height: 30px;
  position: absolute;
  left: 0;
  top: 10px;
}

.home--why__tab__nav--link .link__active:hover h2 {
  padding-top: 0;
  margin-top: 40px;
  width: 50%;
  height: 32%;
  min-width: fit-content;
  min-height: fit-content;
}

.home--why__tab__nav--link .link__active:hover h2::before {
  content: '';
  border-left: 10px solid #91B544;
  height: 30px;
  position: absolute;
  left: 0;
  top: 10px;
}

.home--why__tab__nav--link:hover .why__arrow {
  background-color: rgba(145, 181, 68, 0.89);
  border: 1px solid #91B544;
}

.home--why__tab__nav--link__content {
  position: relative;
}

.home--why__tab__nav--link__content img {
  width: 100%;
}

.home--why__tab__nav--link__content__arrow.why__arrow {
  position: absolute;
  color: #fff;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  border: 1px solid #ffffff;
  padding: 11px 15px;
}

.home--why__tab__nav--link__content h2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-left: 30px;
  padding-top: 40px;
  margin-top: 0px;
  text-align: left;
  left: 0;
  margin: 0;
  background: rgba(0, 90, 128, 0.7);
  color: #fff;
  font-family: GothamBlackRegular;
  font-size: 32px;
  padding-right: 30px;
  padding-bottom: 10px;
  min-width: fit-content;
  min-height: fit-content;
  white-space: pre-line;
  transition: 1s;
  -webkit-transition: 1s;
}

.home--why__content h3 {
  font-family: GothamMediumRegular;
  color: #005F89;
  font-size: 32px;
}

.home--why__content p {
  margin-left: 100px;
  border-left: 9px solid #87C54D;
  padding-left: 40px;
  margin-top: 50px;
  color: #005F89;
  font-family: GothamBookRegular;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .banner__text {
    max-width: 92%;
  }
  .home--about__content__img {
    max-width: 85%;
  }
}

@media only screen and (min-width: 1800px) {
  .banner__text {
    max-width: 713px;
    min-height: 355px;
  }
  .banner__text::before {
    border-left: 20px solid #005F89;
    height: 130px;
  }
  .banner__text h5 {
    font-size: 80px;
  }
  .banner__text p {
    font-size: 25px;
  }
  .banner__link a {
    padding: 15px 50px;
    border: 4px solid #FFFFFF;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 50px;
  }
  .banner__link a:nth-child(2) {
    margin-left: 15px;
  }
  .home--about__content::before {
    left: 100px;
  }
  .home--about__content__text {
    font-size: 20px;
  }
  .home--about__content__text__text {
    font-size: 20px;
  }
  .home--about__content__text__title {
    font-size: 75px;
  }
  .home--about__content__text__link {
    font-size: 24px;
  }
  .home--about__content__text__line {
    border-top: 10px solid #8CB044;
    max-width: 135px;
  }
  .home--why {
    padding-bottom: 150px;
  }
  .home--why__title {
    font-size: 75px;
  }
  .home--why__tab__nav--link__content h2 {
    font-size: 50px !important;
  }
  .home--why__content h3 {
    font-size: 55px;
  }
  .home--why__content p {
    margin-left: 250px;
    max-width: 100%;
    width: 1050px;
    font-size: 20px;
  }
  .home--why__line {
    border-top: 10px solid #71CEF5;
    max-width: 135px;
  }
}

@media only screen and (max-width: 825px) and (min-width: 768px) {
  .banner__link a {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1300px) {
  .home--why::before {
    left: 0;
  }
  .home--why::after {
    right: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .banner .carousel-caption {
    top: 10%;
  }
  .banner__link a {
    padding: 10px 30px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .banner__text h5 {
    font-size: 40px;
  }
  .banner__text p {
    font-size: 15px;
  }
  .banner__link a {
    padding: 10px 15px;
    font-size: 11px;
  }
  .home--about__content__img {
    font-size: 20px;
  }
  .home--about__content__img::after {
    right: -22px;
    bottom: 23px;
  }
  .home--why__tab__nav--link.active .link__active h2 {
    height: 48%;
  }
  .home--why__tab__nav--link .link__active:hover h2 {
    height: 48%;
  }
}

@media only screen and (max-width: 767px) {
  .banner__text {
    padding: 20px 10px 10px 20px;
  }
  .banner__text h5 {
    font-size: 20px;
  }
  .banner__text p {
    font-size: 11px;
  }
  .banner__text:before {
    height: 40px;
  }
  .banner__link a {
    padding: 10px 15px;
    font-size: 11px;
  }
  .banner__img {
    min-height: 410px;
    object-fit: cover;
  }
  .home--about__content__text {
    font-size: 14px;
  }
  .home--about__content__text__text {
    font-size: 14px;
  }
  .home--about__content__text__title {
    font-size: 35px;
    margin-top: 30px;
  }
  .home--about__content__text__link {
    font-size: 16px;
  }
  .home--about__content__img {
    font-size: 20px;
  }
  .home--about__content__img::after {
    right: -7px;
    bottom: 16px;
  }
  .home--why::before {
    bottom: 30px;
  }
  .home--why__title {
    font-size: 35px;
    margin-top: 30px;
  }
  .home--why__content p {
    margin-left: 0px;
    border-left: 3px solid #87C54D;
    padding-left: 10px;
  }
  .home--why__tab > li {
    width: 100%;
  }
  .home--why__tab__nav--link.active .link__active h2 {
    height: 32%;
  }
  .home--why__tab__nav--link .link__active:hover h2 {
    height: 32%;
  }
}

@media only screen and (max-width: 575px) {
  .banner__link {
    text-align: center;
  }
  .banner__link a {
    padding: 10px 10px;
    font-size: 11px;
    width: 50%;
    margin: auto;
    margin-left: auto !important;
    margin-top: 10px;
  }
  .banner .carousel-control-next {
    bottom: 10px;
    right: auto;
    left: 52%;
  }
  .banner .carousel-control-prev {
    bottom: 10px;
    right: auto;
    left: 35%;
  }
}

@media only screen and (max-width: 425px) {
  .banner .carousel-control-next {
    bottom: 10px;
    right: auto;
    left: 52%;
  }
  .banner .carousel-control-prev {
    bottom: 10px;
    right: auto;
    left: 35%;
  }
  .home--why::before {
    bottom: 30px;
  }
  .home--why__title {
    font-size: 35px;
    margin-top: 30px;
  }
  .home--why__content p {
    margin-left: 0px;
    border-left: 3px solid #87C54D;
    padding-left: 10px;
  }
  .home--why__tab > li {
    width: 100%;
  }
  .home--why__tab__nav--link.active .link__active h2::before {
    height: 15px;
  }
  .home--why__tab__nav--link .link__active:hover h2::before {
    height: 15px;
  }
  .home--why__tab__nav--link h2 {
    font-size: 20px;
  }
  .home--why__content h3 {
    font-size: 20px;
  }
}

.rounded--img img {
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.rounded--img::after {
  content: '';
  background-image: url("../img/About Tahweel background dots.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  right: -33px;
  bottom: 29px;
  z-index: -1;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.about--overview {
  padding-top: 100px;
  background: #edf8fc;
}

.about--overview__content__text__text {
  color: #333333;
  font-family: GothamMediumRegular;
  position: relative;
  line-height: 24px;
}

.about--overview__content__text__text::before {
  content: '';
  border-left: 7px solid #005A80;
  position: absolute;
  height: 70%;
  left: -46px;
  top: 27px;
}

.about--overview__content__img {
  position: relative;
  margin-top: 70px;
}

.about--integrated {
  background: #edf8fc;
  padding-bottom: 60px;
}

.about--integrated__content__text {
  margin-bottom: 60px;
}

.about--integrated__content__text__title {
  color: #71C9F0;
  padding-top: 80px;
}

.about--integrated__content__left {
  line-height: 24px;
}

.about--integrated__content__right {
  line-height: 24px;
}

.about--mission {
  background: url("../img/about/Mission_Vission.jpg");
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
  background-repeat: no-repeat;
  background-size: cover;
}

.about--mission::before {
  content: '';
  background: rgba(0, 95, 132, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.about--mission__content__text__title {
  color: #ffffff;
}

.about--mission__content__info {
  position: relative;
  margin-left: 40px;
  margin-bottom: 60px;
}

.about--mission__content__info:last-child {
  margin-bottom: 0px;
}

.about--mission__content__info__subtitle {
  font-family: GothamBold;
  color: #50B7E0;
  font-size: 25px;
  margin: 0px;
}

.about--mission__content__info__text {
  color: #FFFFFF;
  line-height: 24px;
}

.about--mission__content__info::before {
  content: '';
  border: 5px solid #50B7E0;
  position: absolute;
  width: 18px;
  height: 100%;
  border-right: 0;
  left: -40px;
}

.about--history {
  background-color: #edf8fc;
  padding-top: 80px;
  padding-bottom: 100px;
  background-image: url("../img/about/About-history-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.about--history__content__right {
  padding-top: 80px;
}

.about--history__content__right__text {
  font-family: GothamBookRegular;
  line-height: 24px;
}

.about--around--the--world {
  background-color: #005F84;
  background-image: url("../img/about/around-the-world.png");
  background-repeat: no-repeat;
  background-position: right 40px;
  background-size: 63%;
  padding-bottom: 135px;
  padding-top: 73px;
}

.about--around--the--world__content__text__title {
  color: #ffffff;
}

.about--around--the--world__content__right {
  padding-top: 80px;
}

.about--around--the--world__content__right__text {
  color: #ffffff;
  line-height: 24px;
}

.about--environment {
  padding-top: 150px;
}

.about--environment__content__text__text {
  color: #005A80;
  margin-top: 50px;
  line-height: 24px;
}

.about--environment__content__text__img {
  display: none;
}

.about--environment__info {
  margin-top: 60px;
  margin-bottom: 60px;
}

.about--environment__info > div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.about--environment__info__cart {
  position: relative;
}

.about--environment__info__cart__image {
  width: 100%;
  height: auto;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

.about--environment__info__cart__text {
  position: absolute;
  top: 0;
  padding-left: 30px;
  padding-right: 30px;
  bottom: 0;
  background: rgba(0, 90, 128, 0.8);
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  color: #ffffff;
  padding: 0px 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.about--environment__info__cart__text:hover {
  opacity: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.about--people {
  padding-top: 135px;
  padding-bottom: 135px;
  background-color: #edf8fc;
}

.about--people__content__img {
  margin-top: 25px;
}

.about--people__content__text__text {
  line-height: 24px;
  margin-top: 65px;
  color: #333333;
}

.about--people__content__text__title {
  color: #333333;
}

.about--people__content__text__img {
  position: relative;
  display: none;
}

@media only screen and (min-width: 1200px) {
  .about--environment__info > div {
    padding-right: 25px;
    padding-left: 25px;
  }
  .about--environment__info > div:first-child {
    padding-left: 15px;
  }
  .about--environment__info > div:last-child {
    padding-right: 15px;
  }
  .about--environment__info__cart__text {
    padding-top: 25px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .about--people__content__img {
    padding-right: 60px;
  }
}

@media only screen and (min-width: 1800px) {
  .about--overview {
    padding-top: 200px;
  }
  .about--overview__content__text__text {
    font-size: 20px;
    padding-right: 155px;
  }
  .about--overview__content__img {
    position: relative;
    margin-top: 100px;
  }
  .about--mission__content__info__subtitle {
    font-size: 36px;
  }
  .about--mission__content__info::before {
    border: 7px solid #50B7E0;
    border-right: 0;
  }
  .about--history__content__right {
    padding-top: 100px;
  }
  .about--environment__content__text {
    padding-right: 70px;
  }
  .about--environment .container--medium {
    max-width: 1380px;
  }
  .about--environment__info__cart__text {
    padding-top: 50px;
  }
  .about--people__content__img {
    padding-right: 15px;
  }
  .about--integrated__content__left {
    padding-right: 66px;
  }
}

@media only screen and (max-width: 991px) {
  .rounded--img ::after {
    right: -22px;
    bottom: 23px;
  }
  .about--overview__content__text__text::before {
    left: -26px;
  }
  .about--environment__info__cart__text {
    padding-top: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .rounded--img ::after {
    right: -7px;
    bottom: 16px;
  }
  .about--overview {
    padding-top: 30px;
  }
  .about--overview__content__text__text {
    margin-left: 30px;
  }
  .about--integrated__content__text__title {
    padding-top: 30px;
  }
  .about--history {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .about--history__content__right {
    padding-top: 20px;
  }
  .about--mission {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .about--around--the--world {
    padding-bottom: 40px;
    padding-top: 30px;
  }
  .about--environment {
    padding-top: 30px;
  }
  .about--environment__content__text__text {
    margin-bottom: 60px;
  }
  .about--environment__content__text__img {
    display: block;
    position: relative;
  }
  .about--environment__content__text__line {
    margin-bottom: 70px;
  }
  .about--environment__content__img {
    display: none;
  }
  .about--environment__info {
    margin-top: 0px;
  }
  .about--environment__info__cart__text {
    padding: 0px 22px 0px 22px;
  }
  .about--people {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about--people__content__img {
    display: none;
  }
  .about--people__content__text__img {
    position: relative;
    display: block;
  }
  .about--people__content__text__line {
    margin-bottom: 60px;
  }
  .about--people__content__text__text {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .about--environment__info__cart__text {
    padding: 0px 22px 0px 22px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .about--environment__info__cart__image {
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}

.slick-slide {
  outline: none;
}

.slick-slide a:focus {
  outline: none;
}

.products {
  background-color: #edf8fc;
  background-image: url("../img/Product/Texture.svg");
  background-size: 100%;
}

.products .slick--slider--arrow {
  bottom: 30px;
  color: #fff;
  z-index: 10;
  background-color: #91B544;
  border: 1px solid #91B544;
  height: fit-content;
  width: fit-content;
  top: 0;
  opacity: 1;
  padding: 15px 15px;
  min-height: 48px;
  min-width: 48px;
  position: absolute;
}

.products .slick--slider--arrow svg {
  font-size: 16px;
}

.products .slick--slider--arrow svg path {
  fill: #ffffff;
}

.products .slick--slider--arrow.slick-next {
  position: absolute;
  bottom: 0;
  top: 110%;
  right: 0;
  left: auto;
}

.products .slick--slider--arrow.slick-next svg {
  transform: rotate(-90deg);
}

.products .slick--slider--arrow.slick-prev {
  position: absolute;
  bottom: 0;
  top: 110%;
  right: 58px;
  left: auto;
}

.products .slick--slider--arrow.slick-prev svg {
  transform: rotate(90deg);
}

.products .slick--slider--arrow::before {
  content: none;
}

.products .slick--slider--arrow:hover svg path {
  fill: #91B544;
}

.products .product--content {
  padding-top: 160px;
  padding-bottom: 60px;
}

.products .products--industries__left__title {
  color: #333333;
}

.products .products--industries__left__line {
  border-color: #005A80;
  margin-top: 20px;
}

.products .products--industries__left__text {
  line-height: 24px;
}

.products .products--industries__left__link {
  color: #005A80;
  margin-top: 84px;
  display: inline-block;
}

.products .products--industries__left__link:hover {
  opacity: 0.5;
  text-decoration: none;
}

.products .products--industries__right {
  margin-top: 50px;
}

.products .products--industries__right__slider--content a {
  text-decoration: none !important;
}

.products .products--industries__right__slider--content__title {
  text-align: center;
  color: #8CB044;
  text-decoration: none !important;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.products .products--industries__right__slider--content :hover p {
  opacity: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.products .products--industries__right .slick-slide:focus {
  outline: none;
}

.products .products--industries__right .slick-slide > div:focus {
  outline: none;
}

.products .products--industries__right .product--slider--hover:focus {
  outline: none;
}

.products .products--industries__right .product--slider--hover:hover .product--slider--hover__img::before {
  content: '';
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.products .products--industries__right .product--slider--hover__img {
  position: relative;
}

.products .products--industries__right .product--slider--hover__img::before {
  content: '';
  position: absolute;
  top: 0;
  background: rgba(0, 90, 128, 0.65);
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.products .products--industries__right .product--slider--hover__img::after {
  content: '';
  height: 61px;
  border-left: 14px solid #8CB044;
  position: absolute;
  top: 30px;
  left: 0;
}

.products .products--industries .slick--slider--arrow {
  background-color: #005A80;
  border: 1px solid #005A80;
}

.products .products--industries .slick--slider--arrow:hover {
  background-color: transparent;
}

.products .products--industries .slick--slider--arrow:hover svg path {
  fill: #005A80;
}

.products .products--packaging__left__line {
  border-color: #50B7E0;
}

.products .products--packaging__left__link {
  color: #50B7E0;
}

.products .products--packaging .slick--slider--arrow {
  background-color: #50B7E0;
  border: 1px solid #50B7E0;
}

.products .products--packaging .slick--slider--arrow:hover {
  background-color: transparent;
}

.products .products--packaging .slick--slider--arrow:hover svg path {
  fill: #50B7E0;
}

.products .products--packaging__all {
  position: relative;
}

.products .products--packaging__all::before {
  content: '';
  background-image: url("../img/lines/Group 40.png");
  position: absolute;
  width: 120px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0px;
  bottom: 87px;
}

.products .products--agriculture {
  padding-bottom: 120px;
}

.products .products--agriculture__left__line {
  border-color: #8CB044;
}

.products .products--agriculture__left__link {
  color: #8CB044;
}

.products .products--agriculture .slick--slider--arrow {
  background-color: #8CB044;
  border: 1px solid #8CB044;
}

.products .products--agriculture .slick--slider--arrow:hover {
  background-color: transparent;
}

.products .products--agriculture .slick--slider--arrow:hover svg path {
  fill: #8CB044;
}

.products .products--agriculture__all {
  position: relative;
}

.products .products--agriculture__all::before {
  content: '';
  background-image: url("../img/lines/Line 6.png");
  position: absolute;
  width: 85px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 636px;
  bottom: 45px;
}

.products .products--pipes {
  padding-top: 100px;
}

.products .products--pipes__all {
  position: relative;
}

.products .products--pipes__all::before {
  content: '';
  background-image: url("../img/lines/Group 40.png");
  position: absolute;
  width: 120px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
  right: 80px;
  bottom: 45px;
}

.products .products--pipes__left__line {
  border-color: #008E45;
}

.products .products--pipes__left__link {
  color: #008E45;
  margin-bottom: 30px;
}

.products .products--pipes__right__content {
  width: fit-content;
  position: relative;
}

.products .products--pipes__right__content__info::before {
  content: '';
  position: absolute;
  top: 0;
  background: rgba(0, 90, 128, 0.65);
  height: 100%;
  width: 100%;
}

.products .products--pipes__right__content__info::after {
  content: '';
  height: 61px;
  border-left: 14px solid #8CB044;
  position: absolute;
  top: 30px;
  left: 0;
}

.products .products--pipes__right__content__info__link {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .products--pipes__right__content__info__link a {
  width: fit-content;
  height: fit-content;
  font-family: GothamBold;
  border: 4px solid #ffffff;
  color: #ffffff;
  display: block;
  padding: 15px 68px;
  font-size: 22px;
}

.products .products--pipes__right__content__info__link a:hover {
  border-color: #008E45;
  background: #008E45;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  text-decoration: none;
}

.product--slider .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}

.product--slider .slick-list {
  margin-left: -15px;
  margin-right: -15px;
}

@media only screen and (min-width: 1800px) {
  .container--products {
    padding-left: 105px;
    max-width: 1750px;
  }
  .products--industries__left__title {
    line-height: 66px;
  }
  .products .slick--slider--arrow {
    padding: 24px 22px;
    min-height: 71px;
    min-width: 71px;
  }
  .products .slick--slider--arrow svg {
    font-size: 20px;
  }
  .products .slick--slider--arrow.slick-prev {
    right: 90px;
  }
  .products--pipes__left__title {
    line-height: 72px;
  }
  .products--agriculture__left__link {
    margin-top: 165px !important;
  }
}

@media only screen and (max-width: 991px) {
  .products .products--pipes__right__content__info__link a {
    font-family: GothamBold;
    border: 2px solid #ffffff;
    color: #ffffff;
    display: block;
    padding: 15px 30px;
    font-size: 13px;
  }
  .products .products--agriculture__all {
    position: relative;
  }
  .products .products--agriculture__all::before {
    left: 0px;
    bottom: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .products .product--content {
    padding-top: 30px;
  }
  .products .products--industries__left__text {
    margin-bottom: 0;
  }
  .products .products--industries__left__link {
    margin-top: 27px;
  }
  .products .products--pipes__right__content {
    margin-top: 50px;
  }
  .products .products--pipes__all::before {
    content: '';
    background-image: url("../img/lines/Group 40.png");
    position: absolute;
    width: 120px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    right: 100%;
    left: 0px;
    bottom: 25px;
  }
  .products .products--packaging__all::before {
    bottom: 0px;
  }
}

.media {
  background: #edf8fc;
  background-image: url("../img/Media/Texture.svg");
  background-size: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

.media__title {
  color: #333333;
}

.media__title__line {
  margin-top: 20px;
}

.media .media--slider {
  margin-top: 100px;
}

.media .media--slider .slick--slider--arrow {
  bottom: 30px;
  color: #fff;
  z-index: 10;
  background-color: #91B544;
  border: 1px solid #91B544;
  height: fit-content;
  width: fit-content;
  top: 0;
  opacity: 1;
  padding: 15px 15px;
  min-height: 48px;
  min-width: 48px;
  position: absolute;
}

.media .media--slider .slick--slider--arrow svg {
  font-size: 16px;
}

.media .media--slider .slick--slider--arrow svg path {
  fill: #ffffff;
}

.media .media--slider .slick--slider--arrow.slick-next {
  position: absolute;
  bottom: 0;
  top: 117%;
  right: 0;
  left: auto;
}

.media .media--slider .slick--slider--arrow.slick-next svg {
  transform: rotate(-90deg);
}

.media .media--slider .slick--slider--arrow.slick-prev {
  position: absolute;
  bottom: 0;
  top: 117%;
  right: 58px;
  left: auto;
}

.media .media--slider .slick--slider--arrow.slick-prev svg {
  transform: rotate(90deg);
}

.media .media--slider .slick--slider--arrow::before {
  content: none;
}

.media .media--slider .slick--slider--arrow:hover {
  background-color: transparent;
}

.media .media--slider .slick--slider--arrow:hover svg path {
  fill: #91B544;
}

.media .media--slider .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}

.media .media--slider .slick-list {
  margin-left: -15px;
  margin-right: -15px;
}

.media .media--slider__slide__info {
  position: relative;
}

.media .media--slider__slide__info__text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-left: 30px;
  padding-top: 195px;
  margin-top: 0px;
  text-align: left;
  left: 0;
  margin: 0;
  background: rgba(0, 90, 128, 0.7);
  color: #fff;
  font-family: GothamBlackRegular;
  font-size: 0;
  padding-right: 30px;
  padding-bottom: 10px;
  min-width: fit-content;
  min-height: fit-content;
  white-space: pre-line;
  transition: 1s;
  -webkit-transition: 1s;
  display: flex;
}

.media .media--slider__slide__info__text h2 {
  font-family: GothamBlackRegular;
  width: fit-content;
}

.media .media--slider__slide__info__text p {
  font-family: GothamMediumRegular;
  font-size: 22px;
  white-space: pre-line;
}

.media .media--slider__slide__info__icon {
  position: absolute;
  color: #fff;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  border: none;
  padding: 11px 15px;
  background-color: #71C9F0;
}

.media .media--slider__slide__info.active .slider--icon {
  background-color: #8CB044;
  transform: rotate(180deg);
}

.media .media--slider__slide__info.active .slider--text {
  padding-top: 0;
  margin-top: 195px;
  width: 70%;
  height: 41%;
  min-width: fit-content;
  min-height: fit-content;
}

.media .media--slider__slide__info:hover .slider--icon {
  background-color: #8CB044;
  transform: rotate(180deg);
}

.media .media--slider__slide__info:hover .slider--text {
  padding-top: 0;
  margin-top: 195px;
  width: 70%;
  height: 41%;
  min-width: fit-content;
  min-height: fit-content;
}

.media .media--slider__bottom__info {
  margin-top: 200px;
}

.media .media--slider__bottom__info__title {
  font-family: GothamBlackRegular;
  color: #005A80;
}

.media .media--slider__bottom__info__date {
  font-family: GothamMediumRegular;
  color: #005A80;
  text-align: right;
  font-size: 16px;
}

.media .media--slider__bottom__info__text {
  font-family: GothamMediumRegular;
  color: #005A80;
  font-size: 16px;
  white-space: pre-line;
}

@media only screen and (min-width: 1800px) {
  .media {
    padding-top: 136px;
    padding-bottom: 160px;
  }
  .media__title {
    line-height: 66px;
  }
  .media .media--slider .slick-slide {
    margin-left: 15px;
    margin-right: 15px;
  }
  .media .media--slider .slick-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .media .media--slider__slide__info__text h2 {
    line-height: 1;
    margin-bottom: 0;
    font-size: 67px;
  }
  .media .media--slider__slide__info__icon {
    padding: 30px 32px;
    font-size: 25px;
    line-height: 1;
  }
  .media .media--slider__bottom__info__title {
    font-size: 67px;
    line-height: 72px;
  }
  .media .media--slider__bottom__info__date {
    font-size: 22px;
  }
  .media .media--slider__bottom__info__text {
    font-size: 22px;
  }
  .media .media--slider .slick--slider--arrow {
    padding: 24px 22px;
    min-height: 71px;
    min-width: 71px;
  }
  .media .media--slider .slick--slider--arrow svg {
    font-size: 20px;
  }
  .media .media--slider .slick--slider--arrow.slick-prev {
    right: 90px;
  }
}

@media only screen and (max-width: 1799px) {
  .media .media--slider__slide__info {
    position: relative;
  }
  .media .media--slider__slide__info__text {
    padding-top: 130px;
    margin-top: 0px;
  }
  .media .media--slider__slide__info__text p {
    font-size: 16px;
  }
  .media .media--slider__slide__info.active .slider--text {
    padding-top: 0;
    margin-top: 130px;
    width: 70%;
    height: 41%;
    min-width: fit-content;
    min-height: fit-content;
  }
  .media .media--slider__slide__info:hover .slider--text {
    padding-top: 0;
    margin-top: 130px;
    width: 70%;
    height: 41%;
    min-width: fit-content;
    min-height: fit-content;
  }
}

@media only screen and (max-width: 1199px) {
  .media .media--slider__slide__info__text {
    padding-top: 105px;
    margin-top: 0px;
  }
  .media .media--slider__slide__info__text p {
    font-size: 16px;
  }
  .media .media--slider__slide__info.active .slider--text {
    padding-top: 0;
    margin-top: 105px;
    width: 70%;
    height: 41%;
    min-width: fit-content;
    min-height: fit-content;
  }
  .media .media--slider__slide__info:hover .slider--text {
    padding-top: 0;
    margin-top: 105px;
    width: 70%;
    height: 41%;
    min-width: fit-content;
    min-height: fit-content;
  }
}

@media only screen and (max-width: 991px) {
  .media .media--slider__slide__info__text {
    padding-top: 200px;
    margin-top: 0px;
  }
  .media .media--slider__slide__info__text p {
    font-size: 16px;
  }
  .media .media--slider__slide__info.active .slider--text {
    padding-top: 0;
    margin-top: 200px;
    width: 70%;
    height: 33%;
    min-width: fit-content;
    min-height: fit-content;
  }
  .media .media--slider__slide__info:hover .slider--text {
    padding-top: 0;
    margin-top: 200px;
    width: 70%;
    height: 33%;
    min-width: fit-content;
    min-height: fit-content;
  }
}

@media only screen and (max-width: 767px) {
  .media .media--slider__slide__info__text {
    padding-top: 105px;
    margin-top: 0px;
  }
  .media .media--slider__slide__info__text p {
    font-size: 14px;
  }
  .media .media--slider__slide__info.active .slider--text {
    padding-top: 0;
    margin-top: 105px;
    width: 70%;
    height: 41%;
    min-width: fit-content;
    min-height: fit-content;
  }
  .media .media--slider__slide__info:hover .slider--text {
    padding-top: 0;
    margin-top: 105px;
    width: 70%;
    height: 41%;
    min-width: fit-content;
    min-height: fit-content;
  }
  .media .media--slider__bottom__info__date {
    text-align: left;
    font-size: 14px;
  }
  .media .media--slider__bottom__info__text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .media .media--slider__slide__info__text {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    margin-top: 0px;
  }
  .media .media--slider__slide__info__text p {
    font-size: 13px;
  }
  .media .media--slider__slide__info__text h2 {
    font-size: 16px;
  }
  .media .media--slider__slide__info.active .slider--text {
    padding-top: 0;
    margin-top: 15px;
    width: 70%;
    height: 41%;
    min-width: fit-content;
    min-height: fit-content;
  }
  .media .media--slider__slide__info:hover .slider--text {
    padding-top: 0;
    margin-top: 15px;
    width: 70%;
    height: 41%;
    min-width: fit-content;
    min-height: fit-content;
  }
  .media .media--slider__bottom__info__date {
    text-align: left;
    font-size: 14px;
  }
  .media .media--slider__bottom__info__text {
    font-size: 14px;
  }
}

.contact__info {
  background-color: #edf8fc;
  padding: 40px 0px;
}

.contact__info__left__content__title {
  color: #333333;
}

.contact__info__left__content__text {
  font-family: GothamMediumRegular;
  font-size: 16px;
}

.contact__info__right {
  text-align: right;
}

.contact__info__right__content__img {
  max-width: 100%;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.contact__directory {
  background: url("../img/contact/Texture.svg");
  background-size: cover;
  padding: 40px 0px;
}

.contact__directory__top__content__title {
  color: #333333;
}

.contact__directory__top__content__text {
  font-size: 16px;
  font-family: GothamMediumRegular;
}

.contact__directory__bottom__link {
  color: #141A21;
  text-decoration: none;
  font-family: GothamBold;
  white-space: pre-line;
  font-size: 16px;
}

.contact__directory__bottom__link:hover {
  color: #141A21;
  text-decoration: none;
}

.contact__directory__bottom__phone {
  font-size: 16px;
  font-family: GothamBookRegular;
  white-space: pre-line;
}

.contact__directory__bottom__phone span {
  font-family: GothamMediumRegular;
}

.contact__job {
  background-color: #edf8fc;
  padding: 40px 0px;
}

.contact__job__form__label {
  font-size: 16px;
  font-family: GothamBookRegular;
  color: rgba(51, 51, 51, 0.62);
}

.contact__job__form__label span {
  color: #ff0000;
}

.contact__job__form__input {
  border-radius: 32px;
  box-shadow: inset -1px 3px 12px 0px rgba(46, 61, 73, 0.2) !important;
  padding: 7px 15px 7px 30px;
  border: 1px solid #ABABAB;
  width: 100%;
  font-family: GothamBookRegular;
  height: auto;
}

.contact__job__form__input:focus {
  border-color: #ABABAB;
}

.contact__job__form__textarea {
  max-height: 208px;
}

.contact__job__form__submit {
  text-align: center;
}

.contact__job__form__submit__button {
  color: #ffffff;
  background: #005F84;
  border: none;
  font-family: GothamBold;
  border-radius: 32px;
  font-size: 16px;
  padding: 5px 20px;
}

@media only screen and (min-width: 1800px) {
  .contact__info {
    padding: 80px 0px;
  }
  .contact__info__left__content__title {
    margin-top: 80px;
  }
  .contact__info__left__content__text {
    font-size: 18px;
    line-height: 21px;
    margin-top: 40px;
  }
  .contact__info__right {
    text-align: right;
  }
  .contact__info__right__content__img {
    max-width: 80%;
  }
  .contact__directory {
    padding: 100px 0px;
  }
  .contact__directory__top__content__title {
    line-height: 66px;
  }
  .contact__directory__top__content__line {
    margin-top: 20px;
  }
  .contact__directory__top__content__text {
    font-size: 25px;
    margin-top: 80px;
  }
  .contact__directory__bottom {
    margin-top: 100px;
  }
  .contact__directory__bottom__link {
    font-size: 25px;
    line-height: 41px;
  }
  .contact__directory__bottom__phone {
    font-size: 25px;
    line-height: 41px;
  }
  .contact__job {
    background-color: #edf8fc;
    padding: 100px 0px;
  }
  .contact__job__form .form-group {
    margin-bottom: 30px;
  }
  .contact__job__form__label {
    font-size: 25px;
  }
  .contact__job__form__input {
    padding: 19px 15px 19px 30px;
    margin-left: 15px;
  }
  .contact__job__form__textarea {
    min-height: 346px;
  }
  .contact__job__form__submit__button {
    font-size: 26px;
    line-height: 31px;
    padding: 10px 31px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .contact__info {
    padding: 20px 0px 60px 0px;
  }
  .contact__info__left__content__text {
    font-size: 14px;
  }
  .contact__directory {
    padding: 20px 0px 60px 0px;
  }
  .contact__directory__top__content__text {
    font-size: 14px;
  }
  .contact__directory__bottom__link {
    font-size: 14px;
  }
  .contact__directory__bottom__phone {
    font-size: 14px;
  }
  .contact__job__form__label {
    font-size: 14px;
    padding-left: 15px;
  }
}
/*# sourceMappingURL=style.css.map */